# Node
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vite
vite.config.ts.timestamp*
.vite/
*.local
.env
.env.*.local

# TypeScript
*.tsbuildinfo

# Editor
.DS_Store
.vscode/
.idea/

# Testing
coverage/
